{
    "env": {
       "es6": true,
       "browser": true,
       "node": true
    },
    "extends": "eslint:recommended",
    "rules":{
       "no-unused-vars": 0,
       "no-undef": 0,
       "no-console": 0
    },
    "parserOptions": {
      "sourceType": "module"
  }
}